@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e9d5d5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0;
}

.container {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    border-radius: 12px;
    overflow: hidden;
}

#imgDesktop {
    width: 350px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-end-start-radius: 12px;
}

#imgMobile{
    display: none;
}

.conteudo_texto {
    width: 350px;
    padding: 30px;
    text-align: left;
    color: #6c7289;
}

.conteudo_texto h1 {
    font-size: 40px;
    font-family: Fraunces;
    color: black;
    line-height: 40px;
    margin-top: 20px;
}

.container h2 {
    letter-spacing: 5px;
    font-weight: normal;
}

.conteudo_texto p,
h2 {
    margin-top: 25px;
    font-family: Montserrat, serif;
    font-size: 16px;
    line-height: 24px;
}

.container span {
    display: flex;
    margin-right: 20px;
}

#preco_principal {
    font-family: Fraunces;
    font-size: 30px;
    color: #1e5c45;
}

button {
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    color: #ffffff;
    border: none;
    font-family: Montserrat;
    border-radius: 8px;
    background-color: #1e5c45;
    font-size: 16px;
    margin-top: 25px;
}

button:hover {
    background-color: #204d1c;
}

@media screen and (max-width: 730px){

    #div_principal{
        justify-content: center;
        align-items: center;
        display: flex;
        padding: 8%;
        width: 100%;
    }

    .container{
        margin-top: 20%;
        flex-direction: column;
    }

    #imgDesktop{
        display: none;
    }

    #imgMobile{
        display: block;
        width: 100%;  
    }
    
    .conteudo_texto h1{
        font-size: 30px;
        line-height: 30px;
    }

    .conteudo_texto, p, h2{
        font-size: 14px;
        line-height: 30px;
        width: 100%;
        margin-top: 7px;
    }

}